<% breadcrumb :business, @business %>
<div class="row">
  <div class="col-md-12">
    <div class="box box-widget widget-user-2">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header">
        <div class="widget-user-image">
        <%=image_tag(@business.avatar.url(:large), class: "img-square") %>
        </div>
        <!-- /.widget-user-image -->
        <h3 class="widget-user-username"><%= @business.name.upcase %></h3>
        <% @business.taxpayers.distinct.each do |taxpayer| %>
          <h5 class="widget-user-desc">&nbsp; &nbsp; &nbsp; &nbsp; <%=image_tag(taxpayer.avatar.url(:small), height: 35, width: 35, class: "img-circle") %> &nbsp; &nbsp; <%=taxpayer.full_name %></h5>
        <% end %>

      </div>
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
         <li class="<%= 'active' if current_page?(business_path(@business))%>"><%= link_to 'Checklist', business_path(@business) %></li>
         <li class="<%= 'active' if current_page?(business_info_index_path(@business))%>"><%= link_to 'Info', business_info_index_path(@business) %></li>
         <li class="<%= 'active' if current_page?(business_assessments_path(@business))%>"><%= link_to 'Assessments/Payments', business_assessments_path(@business) %></li>
         <% if current_user.bplo_officer? || current_user.mayors_office_staff? %>
           <li class="<%= 'active' if current_page?(business_business_permits_path(@business))%>"><%= link_to 'Permits', business_business_permits_path(@business) %></li>
         <% end %>
        <% if current_user.bplo_officer? || current_user.system_administrator? %>
           <li class="<%= 'active' if current_page?(business_settings_path(@business))%>"><%= link_to 'Settings', business_settings_path(@business) %></li>
        <% end %>
      </ul>
      <div class="tab-content box-body">
        <% if current_page? business_path(@business) %>
          <%=render 'businesses/partials/checklist' %>
        <% end %>
        <% if current_page? business_info_index_path(@business) %>
          <%= render 'businesses/partials/business_info' %>
        <% end %>

        <% if current_page? business_assessments_path(@business) %>
          <%=render 'businesses/partials/payments' %>
        <% end %>
        <% if current_page? business_business_permits_path(@business) %>
          <%=render 'businesses/partials/permits' %>
        <% end %>
        <% if current_page? business_settings_path(@business) %>
          <%=render 'businesses/partials/settings' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
