<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <!-- Widget: user widget style 1 -->
  <div class="box box-widget widget-user-2">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header">
      <div class="widget-user-image">
        <%=image_tag(@business_permit_application.business.avatar.url(:large), class: "img-circle") %>
      </div>
      <!-- /.widget-user-image -->
      <h3 class="widget-user-username">
        <%=link_to business_path(@business_permit_application.business) do %>
          <%= @business_permit_application.business.name.try(:upcase) %></h3>
          <h5 class="widget-user-desc text-muted"><%= @business_permit_application.business.taxpayers.distinct.each.map{|a| a.full_name }.join(" | ") %></h5>
        <% end %>
    </div>
    <div class="box-body">
      <%=simple_form_for [@business_permit_application, @approval], url: :business_permit_application_permit_approvals do |f| %>
        <%= f.error_notification %>
        <%= f.input :permit_number %>
        <%= f.input :date_approved, as: :string, input_html: { class: "datepicker" } %>
        <p class="text-muted"> Business TIN Plate </p>
        <%= f.simple_fields_for :business_tin_plate do |b| %>
          <%= b.input :number, label: "Business TIN Plate Number", input_html: { value: @business_permit_application.business.try(:business_tin_plate).try(:number)} %>
        <% end %>
        <div class="box-footer">
          <%= f.submit "Approve", class: "btn btn-success btn-flat", data: { disable_with: "Approving..."} %>
        </div>
      <% end %>
