<% breadcrumb :fire_department_collections %>
<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
    <div class="box-header with-border">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <%=form_tag fire_department_collections_path, method: :get, class: "search-form" do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Enter OR Number...", id: 'taxpayer-search-form' %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
      <div class="box-body">
        <div class="table table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th> </th>
                <th> Date </th>
                <th> OR Number </th>
                <th> Taxpayer </th>
                <th> Amount </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @collections.order(created_at: :desc).each do |collection| %>
                <tr>
                  <td><%= image_tag(collection.collector.avatar.url(:medium), class: "img-circle", height: 45, width: 45) %> </td>
                  <td> <%#=link_to collection.entry_date.strftime("%B %e, %Y"), fire_department_collection_path(collection) %><br>
                  </td>
                  <td> <%= link_to collection.reference_number, fire_department_collection_path(collection) %></td>
                  <td> <%=collection.entry.commercial_document.try(:taxpayers_full_name) %></td>
                  <td> <span class="pull-right"> <%=number_to_currency collection.total %> </span></td>
                  <td>

                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
            <center><%= paginate @collections %> </center>
        </div>
    </div>
  </div>
</div>
