<div class="tab-pane active" id='payments'>
  <% @business.payments.for_current_year.order(entry_date: :desc).each do |payment| %>
    <div class="row">
      <div class="col-md-2">
        <i class="fa fa-calendar"></i> <%= payment.entry_date.strftime("%B %e, %Y") %>
      </div>
      <div class="col-md-4">
        <% payment.credit_amounts.each do |amount| %>
          <div class="row">
            <div class="col-md-9">
              <% if amount.exempted_in_fire_dept? %>
                <span class="text-red"> <%= amount.account.name.gsub("Accounts Receivable - ", "") %></span>
                <% else %>
                <%= amount.account.name.gsub("Accounts Receivable - ", "") %>
              <% end %>
            </div>
            <div class="col-md-3">
              <% if amount.exempted_in_fire_dept? %>
                <span class="pull-right text-red"> <%= number_to_currency amount.amount %></span>
              <% else %>
                <span class="pull-right"> <%= number_to_currency amount.amount %></span>
              <% end %>

            </div>
          </div>
          <br>
        <% end %>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <div class="row">
          <div class="col-md-6">
            <small class="text-muted"> TOTAL </small>
          </div>
          <div class="col-md-6">
            <span class='pull-right'><%=number_to_currency payment.credit_amounts.sum(:amount) %></span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <small class="text-red"> LESS EXEMPTIONS </small>
          </div>
          <div class="col-md-6">
            <span class='pull-right'><%=number_to_currency payment.credit_amounts.exempted_by_fire_dept.sum(&:amount) %></span>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <small class="text-muted"> TOTAL </small>
          </div>
          <div class="col-md-6">
            <span class='pull-right'><%=number_to_currency payment.credit_amounts.sum(:amount) - payment.credit_amounts.exempted_by_fire_dept.sum(&:amount)  %></span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-8">
            <small class="text-muted"> FIRE INSPECTION FEE (10%) </small>
          </div>
          <div class="col-md-4">
            <span class='pull-right bg-gray'><b><%=number_to_currency (payment.credit_amounts.sum(:amount) - payment.credit_amounts.exempted_by_fire_dept.sum(&:amount)) * 0.10  %></b></span>
          </div>
        </div>
        <br>
        <% if !payment.collected_by_fire_dept? %>
          <%=link_to "New Payment", new_fire_department_payment_percentage_collection_path(payment), class: "btn btn-primary pull-right" %>
          <% else %>
          <span class="badge bg-green pull-right"> Collected </span>
        <% end %>

      </div>
    </div>
    <hr>
  <% end %>
</div>
