<% breadcrumb :new_business_assessment, @business %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <!-- Widget: user widget style 1 -->
  <div class="box box-widget widget-user-2">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header">
      <div class="widget-user-image">
        <%=image_tag(@business.avatar.url(:large), class: "img-circle") %>
      </div>
      <!-- /.widget-user-image -->
      <h3 class="widget-user-username">
        <%=link_to business_path(@business) do %>
          <%= @business.name.try(:upcase) %></h3>
          <h5 class="widget-user-desc text-muted"><%= @business.taxpayers_full_name.try(:upcase) %></h5>
          <h5 class="widget-user-desc text-muted"> Mode of Payment: <span class="label bg-blue"><%=@business.mode_of_payment_name %></span> </h5>
        <% end %>
    </div>
    <div class="box-body">
            <br>
            <small class="text-muted">&nbsp; &nbsp; FEES </small><p></p>
            <% @business.fees.each do |fee| %>
              <% if !fee.credit_account.entries.where(commercial_document: @business).present? %>
                <div class="row">
                  <div class="col-md-1">
                  </div>
                  <div class="col-md-7">
                    <%= fee.name %>
                  </div>
                  <div class="col-md-3">
                    <span class="pull-right"><%=number_to_currency fee.amount %></span>
                  </div>
                </div>
                <br>
              <% end %>
            <% end %>
              <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-7">
                  Mayors Permit Fee
                </div>
                <div class="col-md-3">
                  <span class="pull-right"><%=number_to_currency @business.total_mayors_permit_fees %></span>
                </div>
              </div>
              <br>

            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-7">
                Sanitary Inspection Fee
              </div>
              <div class="col-md-3">
                <span class="pull-right"><%=number_to_currency @business.total_sanitary_inspection_fee %></span>
              </div>
            </div>
            <br>
            <% if @business.has_storage_permit_fee? %>
              <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-7">
                  Storage Permit Fee
                </div>
                <div class="col-md-3">
                  <span class="pull-right"><%=number_to_currency @business.total_storage_permit_fees %></span>
                </div>
              </div>
              <br>
            <% end %>

              <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-7">
                  Building Permit Fee
                </div>
                <div class="col-md-3">
                  <span class="pull-right"><%=number_to_currency @business.total_building_permit_fees %></span>
                </div>
              </div>
              <br>
              <!-- Zoning Fee -->
              <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-7">
                  Zoning Fee
                </div>
                <div class="col-md-3">
                  <span class="pull-right"><%=number_to_currency @business.total_zoning_fees %></span>
                </div>
              </div>
              <br>

            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-8">
                Annual Inspection Fee
              </div>
              <div class="col-md-2">
                <span class="pull-right"><%=number_to_currency @business.total_annual_inspection_fees %></span>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-8">
                Occupancy Permit Fee
              </div>
              <div class="col-md-2">
                <span class="pull-right"><%=number_to_currency @business.total_occupancy_permit_fees %></span>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-8">
                 Electrical Installation Fee
              </div>
              <div class="col-md-2">
                  <span class="pull-right"><%=number_to_currency @business.total_electrical_installation_fees %></span>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-8">
                 Plumbing Installation Fee
              </div>
              <div class="col-md-2">
                <span class="pull-right"><%=number_to_currency @business.total_plumbing_installation_fees %></span>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-8">
                 Other Accessories Fee
              </div>
              <div class="col-md-2">
                  <span class="pull-right"><%=number_to_currency @business.total_other_accessories_fees %></span>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-8">
                 Engineering Penalties/Surchages
              </div>
              <div class="col-md-2">
                  <span class="pull-right"><%=number_to_currency @business.total_engineering_penalties %></span>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-8">
                Documentary Stamp Fee
              </div>
              <div class="col-md-2">
                  <span class="pull-right"><%=number_to_currency @business.total_documentary_stamp_fees %></span>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-8">
                Sealing Fee (Weights and Measures)
              </div>
              <div class="col-md-2">
                  <span class="pull-right"><%=number_to_currency @business.total_sealing_fees %></span>
              </div>
            </div>
            <br>
            <% if @business.cockpit? %>
              <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-8">
                  Cockpit Operation Fee
                </div>
                <div class="col-md-2">
                    <span class="pull-right"><%=number_to_currency @business.total_cockpit_operation_fees %></span>
                </div>
              </div>
            <% end %>
            <br>
          <small class="text-muted">&nbsp; &nbsp; TAXES </small><p></p>
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-8">
              Business Tax
            </div>
            <div class="col-md-2">
              <% if @business.cooperative? || @business.business_tax_exempted? %>
                <span class="pull-right label bg-red"> Exempted </span>
              <% else %>
                <span class="pull-right"><%=number_to_currency @business.total_business_taxes %></span>
              <% end %>
            </div>
          </div>
          <br>
          <small class="text-danger">&nbsp; &nbsp; SURCHARGES </small><p></p>
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-8">
              Surcharges <br>
            </div>
            <div class="col-md-2">
                <span class="pull-right"><%=number_to_currency @business.total_surcharges %></span>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-8">
              Interests <br>
            </div>
            <div class="col-md-2">
              <span class="pull-right"><%=number_to_currency @business.total_interests %></span>
            </div>
          </div>
          <hr>
            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-7">
                <b>TOTAL</b>
              </div>
              <div class="col-md-3">
                <span class="pull-right"><b><%=number_to_currency @business.total_fees_and_taxes %></b></span>
              </div>
            </div>
          <hr>

              <%= simple_form_for @assessment, url: :business_assessments do |f| %>
                <%= f.error_notification %>
                <!-- Business Fees -->
                <% if @business.fees.present? %>
                  <%@business.fees.unpaid_fees_for(@business).each do |fee| %>
                    <%=f.simple_fields_for :debit_amounts do |d|  %>
                      <%=d.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: fee.amount }, as: :hidden %>
                      <%=d.input :account_id, input_html: {value: fee.credit_account.id},  as: :hidden %>
                     <%= d.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= d.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                    <%=f.simple_fields_for :credit_amounts do |c|  %>
                      <%=c.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: fee.amount },  as: :hidden %>
                      <%=c.input :account_id, input_html: { value: fee.debit_account.id },  as: :hidden %>
                      <%= c.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= c.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                  <% end %>
                <% end %>
                <!--Mayors Permit Fee -->
                <% if @business.total_mayors_permit_fees > 0 %>
                  <%=f.simple_fields_for :debit_amounts do |d|  %>
                    <%=d.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.total_mayors_permit_fees },  as: :hidden %>
                    <%=d.input :account_id, input_html: {value: Fees::MayorsPermitFee.new.debit_account.id},  as: :hidden %>
                   <%= d.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= d.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                  <% end %>
                  <%=f.simple_fields_for :credit_amounts do |c|  %>
                    <%=c.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.total_mayors_permit_fees },  as: :hidden %>
                    <%=c.input :account_id, input_html: { value: Fees::MayorsPermitFee.new.credit_account.id },  as: :hidden %>
                  <%= c.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= c.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                  <% end %>
                <% end %>
                  <!--Sanitary Permit Fee -->
                  <% if @business.total_sanitary_inspection_fee > 0 %>
                    <%=f.simple_fields_for :debit_amounts do |d|  %>
                      <%=d.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.business_area_fee }, as: :hidden %>
                      <%=d.input :account_id, input_html: {value: Fees::SanitaryInspectionFee.new.debit_account.id}, as: :hidden%>
                    <%= d.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= d.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                    <%=f.simple_fields_for :credit_amounts do |c|  %>
                      <%=c.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.business_area_fee}, as: :hidden %>
                      <%=c.input :account_id, input_html: { value: Fees::SanitaryInspectionFee.new.credit_account.id }, as: :hidden %>
                    <%= c.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= c.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                  <% end %>
                  <!-- Storage Permit Fee -->
                    <% if @business.has_storage_permit_fee? && @business.total_storage_permit_fees > 0 %>
                    <%=f.simple_fields_for :debit_amounts do |d|  %>
                      <%=d.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.storage_permit_fees.total }, as: :hidden %>
                      <%=d.input :account_id, input_html: {value: Fees::StoragePermitFee.new.debit_account.id}, as: :hidden%>
                     <%= d.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= d.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                    <%=f.simple_fields_for :credit_amounts do |c|  %>
                      <%=c.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.storage_permit_fees.total}, as: :hidden  %>
                      <%=c.input :account_id, input_html: { value: Fees::StoragePermitFee.new.credit_account.id }, as: :hidden  %>
                    <%= c.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= c.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                  <% end %>
                  <!-- Building Permit Fee -->
                  <% if @business.total_building_permit_fees > 0 %>
                    <%=f.simple_fields_for :debit_amounts do |d|  %>
                      <%=d.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.building_permit_fees.for_current_year }, as: :hidden  %>
                      <%=d.input :account_id, input_html: {value: Fees::BuildingPermitFee.new.debit_account.id}, as: :hidden %>
                     <%= d.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= d.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                    <%=f.simple_fields_for :credit_amounts do |c|  %>
                      <%=c.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.building_permit_fees.for_current_year}, as: :hidden  %>
                      <%=c.input :account_id, input_html: { value: Fees::BuildingPermitFee.new.credit_account.id }, as: :hidden  %>
                    <%= c.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= c.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                  <% end %>
                  <!-- Zoning Fee -->
                  <% if @business.total_zoning_fees > 0 %>
                    <%=f.simple_fields_for :debit_amounts do |d|  %>
                      <%=d.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.zoning_fees.for_current_year }, as: :hidden  %>
                      <%=d.input :account_id, input_html: {value: Fees::ZoningFee.new.debit_account.id}, as: :hidden %>
                     <%= d.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= d.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                    <%=f.simple_fields_for :credit_amounts do |c|  %>
                      <%=c.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.zoning_fees.for_current_year}, as: :hidden  %>
                      <%=c.input :account_id, input_html: { value: Fees::ZoningFee.new.credit_account.id }, as: :hidden  %>
                    <%= c.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= c.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                  <% end %>

                  <!-- Annual Inspection Fee -->
                  <% if @business.total_annual_inspection_fees > 0 %>
                    <%=f.simple_fields_for :debit_amounts do |d|  %>
                      <%=d.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.annual_inspection_fees.for_current_year }, as: :hidden  %>
                      <%=d.input :account_id, input_html: {value: Fees::AnnualInspectionFee.new.debit_account.id}, as: :hidden %>
                     <%= d.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= d.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                    <%=f.simple_fields_for :credit_amounts do |c|  %>
                      <%=c.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.annual_inspection_fees.for_current_year}, as: :hidden  %>
                      <%=c.input :account_id, input_html: { value: Fees::AnnualInspectionFee.new.credit_account.id }, as: :hidden  %>
                    <%= c.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= c.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                  <% end %>

                  <!-- Occupancy Permit Fee -->
                  <% if @business.total_occupancy_permit_fees > 0 %>
                    <%=f.simple_fields_for :debit_amounts do |d|  %>
                      <%=d.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.occupancy_permit_fees.for_current_year }, as: :hidden  %>
                      <%=d.input :account_id, input_html: {value: Fees::OccupancyPermitFee.new.debit_account.id}, as: :hidden %>
                     <%= d.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= d.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                    <%=f.simple_fields_for :credit_amounts do |c|  %>
                      <%=c.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.occupancy_permit_fees.for_current_year}, as: :hidden  %>
                      <%=c.input :account_id, input_html: { value: Fees::OccupancyPermitFee.new.credit_account.id }, as: :hidden  %>
                    <%= c.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= c.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                  <% end %>

                  <!-- Electrical Installation Fee -->
                  <% if @business.total_electrical_installation_fees > 0 %>
                    <%=f.simple_fields_for :debit_amounts do |d|  %>
                      <%=d.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.electrical_installation_fees.for_current_year }, as: :hidden  %>
                      <%=d.input :account_id, input_html: {value: Fees::ElectricalInstallationFee.new.debit_account.id}, as: :hidden %>
                     <%= d.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= d.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                    <%=f.simple_fields_for :credit_amounts do |c|  %>
                      <%=c.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.electrical_installation_fees.for_current_year}, as: :hidden  %>
                      <%=c.input :account_id, input_html: { value: Fees::ElectricalInstallationFee.new.credit_account.id },  as: :hidden  %>
                    <%= c.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= c.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                  <% end %>

                  <!-- Plumbing Installation Fee -->
                  <% if @business.total_plumbing_installation_fees > 0 %>
                    <%=f.simple_fields_for :debit_amounts do |d|  %>
                      <%=d.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.plumbing_installation_fees.for_current_year },  as: :hidden  %>
                      <%=d.input :account_id, input_html: {value: Fees::PlumbingInstallationFee.new.debit_account.id},  as: :hidden %>
                     <%= d.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= d.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                    <%=f.simple_fields_for :credit_amounts do |c|  %>
                      <%=c.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.plumbing_installation_fees.for_current_year}, as: :hidden  %>
                      <%=c.input :account_id, input_html: { value: Fees::PlumbingInstallationFee.new.credit_account.id }, as: :hidden  %>
                    <%= c.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= c.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                  <% end %>

                  <!-- Other Accessories Fee -->
                  <% if @business.total_other_accessories_fees > 0 %>
                    <%=f.simple_fields_for :debit_amounts do |d|  %>
                      <%=d.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.other_accessories_fees.for_current_year },  as: :hidden  %>
                      <%=d.input :account_id, input_html: {value: Fees::OtherAccessoriesFee.new.debit_account.id}, as: :hidden %>
                     <%= d.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= d.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                    <%=f.simple_fields_for :credit_amounts do |c|  %>
                      <%=c.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.other_accessories_fees.for_current_year}, as: :hidden  %>
                      <%=c.input :account_id, input_html: { value: Fees::OtherAccessoriesFee.new.credit_account.id }, as: :hidden  %>
                    <%= c.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= c.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                  <% end %>

                  <!-- Engineering Penalty -->
                  <% if @business.total_engineering_penalties > 0 %>
                    <%=f.simple_fields_for :debit_amounts do |d|  %>
                      <%=d.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.engineering_penalties.for_current_year }, as: :hidden  %>
                      <%=d.input :account_id, input_html: {value: Fees::EngineeringPenalty.new.debit_account.id}, as: :hidden %>
                     <%= d.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= d.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                    <%=f.simple_fields_for :credit_amounts do |c|  %>
                      <%=c.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.engineering_penalties.for_current_year}, as: :hidden  %>
                      <%=c.input :account_id, input_html: { value: Fees::EngineeringPenalty.new.credit_account.id }, as: :hidden  %>
                    <%= c.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= c.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                  <% end %>


                  <!-- Documentary Stamp Fee -->
                  <% if @business.total_documentary_stamp_fees > 0 %>
                    <%=f.simple_fields_for :debit_amounts do |d|  %>
                      <%=d.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.documentary_stamp_fees.for_current_year }, as: :hidden  %>
                      <%=d.input :account_id, input_html: {value: Fees::DocumentaryStampFee.new.debit_account.id}, as: :hidden %>
                     <%= d.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= d.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                    <%=f.simple_fields_for :credit_amounts do |c|  %>
                      <%=c.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.documentary_stamp_fees.for_current_year}, as: :hidden  %>
                      <%=c.input :account_id, input_html: { value: Fees::DocumentaryStampFee.new.credit_account.id }, as: :hidden  %>
                    <%= c.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= c.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                  <% end %>

                  <!-- Sealing Fee -->
                  <% if @business.total_sealing_fees > 0 %>
                    <%=f.simple_fields_for :debit_amounts do |d|  %>
                      <%=d.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.sealing_fees.for_current_year }, as: :hidden  %>
                      <%=d.input :account_id, input_html: {value: Fees::SealingFee.new.debit_account.id}, as: :hidden %>
                     <%= d.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= d.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                    <%=f.simple_fields_for :credit_amounts do |c|  %>
                      <%=c.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.sealing_fees.for_current_year}, as: :hidden  %>
                      <%=c.input :account_id, input_html: { value: Fees::SealingFee.new.credit_account.id }, as: :hidden  %>
                    <%= c.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= c.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                  <% end %>

                  <!-- Surcharges -->
                  <% if @business.total_surcharges > 0 %>
                    <%=f.simple_fields_for :debit_amounts do |d|  %>
                      <%=d.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.total_surcharges }, as: :hidden  %>
                      <%=d.input :account_id, input_html: {value: Businesses::Surcharge.new.debit_account.id}, as: :hidden %>
                     <%= d.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= d.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                    <%=f.simple_fields_for :credit_amounts do |c|  %>
                      <%=c.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.total_surcharges}, as: :hidden  %>
                      <%=c.input :account_id, input_html: { value: Businesses::Surcharge.new.credit_account.id }, as: :hidden  %>
                    <%= c.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= c.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                  <% end %>
                  <!-- Interests -->
                  <% if @business.total_interests > 0 %>
                    <%=f.simple_fields_for :debit_amounts do |d|  %>
                      <%=d.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.total_interests }, as: :hidden  %>
                      <%=d.input :account_id, input_html: {value: Businesses::LateRegistrationInterest.new.debit_account.id},  as: :hidden %>
                     <%= d.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= d.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                    <%=f.simple_fields_for :credit_amounts do |c|  %>
                      <%=c.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.total_interests }, as: :hidden  %>
                      <%=c.input :account_id, input_html: { value: Businesses::LateRegistrationInterest.new.credit_account.id }, as: :hidden  %>
                      <%= c.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= c.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                  <% end %>

                  <!-- Business Tax -->
                  <% if @business.total_business_taxes > 0 && !@business.cooperative? && !@business.business_tax_exempted? %>
                    <%=f.simple_fields_for :debit_amounts do |d|  %>
                      <% if @business.annually? %>
                        <%=d.input :amount, label: "Business Tax", input_html: {autocomplete: "off", class: "input-lg", value: @business.total_business_taxes, id: 'business-tax-assessment-debit' }, as: :hidden  %>
                      <% else %>
                        <%=d.input :amount, label: "Business Tax", input_html: {autocomplete: "off", class: "input-lg", value: @business.total_business_taxes, id: 'business-tax-assessment-debit' }  %>
                      <% end %>
                      <%=d.input :account_id, input_html: {value: Accounting::Account.find_by_name("Accounts Receivable - Business Tax").id}, as: :hidden %>
                       <%= d.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= d.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                    <%=f.simple_fields_for :credit_amounts do |c|  %>
                      <%=c.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.total_business_taxes, id: 'business-tax-assessment-credit' }, as: :hidden  %>
                      <%=c.input :account_id, input_html: { value: Accounting::Account.find_by_name("Business Tax").id }, as: :hidden %>
                    <%= c.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= c.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                  <% end %>
                  <!-- Cockpit Operation Fees -->
                  <% if @business.total_cockpit_operation_fees > 0 %>
                    <%=f.simple_fields_for :debit_amounts do |d|  %>
                      <%=d.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.total_cockpit_operation_fees }, as: :hidden  %>
                      <%=d.input :account_id, input_html: {value: Accounting::Account.find_by_name("Accounts Receivable - Cockpit Operation Fees").id},  as: :hidden %>
                      <%= d.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= d.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                    <%=f.simple_fields_for :credit_amounts do |c|  %>
                      <%=c.input :amount, input_html: {autocomplete: "off", class: "input-lg", value: @business.total_cockpit_operation_fees }, as: :hidden  %>
                      <%=c.input :account_id, input_html: { value: Accounting::Account.find_by_name("Cockpit Operation Fees").id }, as: :hidden  %>
                      <%= c.input :commercial_document_id, input_html: { value: @business.id }, as: :hidden %>
                      <%= c.input :commercial_document_type, input_html: { value: @business.class.to_s }, as: :hidden %>

                    <% end %>
                  <% end %>

                  <%= f.input :reference_number, as: :hidden %>
                  <%= f.input :entry_date, label: "Assessment Date", as: :string, input_html: { class: "datepicker", default: Date.today } %>
                  <%= f.input :description, input_html: { value: "Assessment of fees and taxes" }, as: :hidden %>
                  <div class="box-footer">
                    <%= f.submit "Save Assessment", class: "btn btn-primary btn-flat pull-right", data: { disable_with: "Saving Assessment..."} %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
