<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title"> Application Details </h3>
      </div>
      <div class="box-body">
        <%= simple_form_for [@business, @permit_application], url: :bplo_section_business_business_permit_applications do |f| %>
          <%= f.error_notification %>
          <% if @business.business_permit_approvals.blank? %>
            <%= f.input :transaction_type, collection: Businesses::BusinessPermits::BusinessPermitApplication.transaction_types.keys.to_a.map{ |a| [a.titleize, a] }, as: :radio_buttons %>
          <% end %>
          <%= f.input :application_number, label: "Application Number" %>
          <%= f.input :application_date, label: "Application Date", as: :string, input_html: { class: "datepicker" } %>
          <div class="box-footer">
            <%= f.submit "Save Application", class: "btn btn-flat btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
