<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <!-- Widget: user widget style 1 -->
  <div class="box box-widget widget-user-2">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header">
      <div class="widget-user-image">
        <%=image_tag(@business.avatar.url(:large), class: "img-circle") %>
      </div>
      <!-- /.widget-user-image -->
      <h3 class="widget-user-username">
        <%=link_to business_path(@business) do %>
          <%= @business.name.try(:upcase) %></h3>
          <h5 class="widget-user-desc text-muted"><%= @business.taxpayers.distinct.each.map{|a| a.full_name }.join(" | ") %></h5>
        <% end %>
    </div>
    <div class="box-body">
      <h4> Required Documents </h4>
      <br>
      <% BploSection::Settings::RequiredDocument.all.each do |required_document| %>
        <div class="row">
          <div class="col-md-9">
            <%= required_document.name %><br>
            <small class="text-muted"><%=required_document.department_name %></small>
          </div>
          <div class="col-md-3">
            <% if @business.required_documents.include?(required_document) %>
              <span classs="btn"><i class="fa fa-toggle-on fa-2x text-green"></i></span>
            <% else %>
              <%= simple_form_for [@business, @business_requirement], url: :bplo_section_business_business_requirements do |f| %>
                <%= f.error_notification %>
                <%= f.input :required_document_id, input_html: { value: required_document.id }, as: :hidden %>
                <%=button_tag type: 'submit', class: 'btn no-padding', title: 'Add' do %>
                  <i class="fa fa-toggle-off fa-2x"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
  </div>
</div>
