<% breadcrumb :new_business_plumbing_installation_fee, @plumbing_installation_fee.business %>
<div class="row">
<div class="col-md-6 col-md-offset-3">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header">
              <div class="widget-user-image">
                <%=image_tag(@plumbing_installation_fee.business.avatar.url(:large), class: "img-circle") %>
              </div>
              <!-- /.widget-user-image -->
              <h3 class="widget-user-username">
                <%=link_to business_path(@plumbing_installation_fee.business) do %>
                  <%= @plumbing_installation_fee.business.name.try(:upcase) %></h3>
                  <h5 class="widget-user-desc text-muted"><%= @plumbing_installation_fee.business.taxpayers.distinct.each.map{|a| a.full_name }.join(" | ") %></h5>
                <% end %>
            </div>
            <div class="box-body">
<%= simple_form_for @plumbing_installation_fee, url: :plumbing_installation_fee do |f| %>
  <%= f.input :calendar_year, as: :string, input_html: { value: Time.zone.now.strftime("%B %e, %Y") } %>
  <%= f.input :amount %>
  <div class="box-footer">
    <%= f.submit "Save Assessment", class: "btn btn-primary pull-right" %>
  </div>
<% end %>
